*{
  padding: 0;
  margin: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(40, 90, 100, 0.7));
}
.shop{
  display: inline-block;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  text-align: left;
  position: relative;
  color: black;
  font-size: 13px;
  font-family: 'Mate SC', serif;
}
.button{
  color: black;
  background-color: lightblue;
  font-weight: bold;
}
.spotify{
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  align-items: right;
  text-align: right;
  color: black;
  font-size: 20px;
  font-family: 'Mate SC', serif;
  font-weight: bold;
}
#counter{
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  text-align: center;
}
h1{
  color: black;
  margin: 0 50px;
  font-size: 45px;
}
#crank{
  position: absolute;
  left: 45%;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}
#lever{
  position: absolute;
  left: 75%;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  visibility: hidden;
}
#crankheader{
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}
#leverheader{
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}
#middle{
    background: #000;
    color: #fff;
    height: 50px;
    left: 50%;
    margin: -25px 0 0 -25px;
    position: absolute;
    top: 30%;
    width: 50px;
}
#crankboost {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}
#idleboost {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}
#leverunlock {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}
